@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    scroll-behavior: smooth;
}

/* Estilos globais */
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2 {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: #337ab7;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background-color: #23527c;
}

/* Estilos do header */
header {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header.open {
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    transition: height 0.5s ease;
}

.logo figure {
    transition: height 0.5s ease;
}

.logo #logo {
    width: 320px;
    height: 128px;
    transition: height 0.5s ease;
}

.logo h1 {
    font-size: 2rem;
    font-weight: bold;
}

.logo .icon img {
    width: 48px;
    padding: 0;
}

.hide {
    height: 80px !important;
    width: 0 !important;
    visibility: hidden;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff; */
    padding: 10px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    cursor: pointer;
    position: relative;
}

.navbar-toggle span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #000;
    transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 675px) and (max-width: 940px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 675px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 118px;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        text-align: center;
    }

    .navbar-item {
        margin: 10px;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-toggle.open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.open span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.open span:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
    }

    .navbar-toggle span:nth-child(1) {
        transform: translateY(0) rotate(0);
    }

    .navbar-toggle span:nth-child(2) {
        opacity: 1;
    }

    .navbar-toggle span:nth-child(3) {
        transform: translateY(0) rotate(0);
    }

    .navbar-menu.open {
        display: flex;
    }
}

.button {
    /* background-color: #4CAF50; cor de fundo do botão */
    border: 2px solid #23527c;
    /* remove a borda padrão do botão */
    border-radius: 50px;
    color: #1C618C;
    /* cor do texto do botão */
    padding: 10px 20px;
    /* espaço interno do botão */
    text-align: center;
    /* centraliza o texto horizontalmente */
    text-decoration: none;
    /* remove o sublinhado do texto */
    display: inline-block;
    /* torna o botão um bloco de largura ajustável */
    font-size: 16px;
    /* tamanho da fonte do texto */
    cursor: pointer;
    /* muda o cursor do mouse para a mãozinha */
    transition: background-color 0.5s ease;
    /* adiciona uma transição suave na cor de fundo */
}

.button:hover {
    background-color: #1C618C;
    border: 2px solid #1C618C;
    color: #fff;
    /* cor de fundo do botão quando hoverado */
}

/* Estilos do banner */
#banner {
    background-image: url(../images/banner2.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1C618C;
    background-attachment: fixed;
}

#banner h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#banner p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.cta-btn {
    padding: 16px 32px;
    border-radius: 50px;
    background-color: #1C618C;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    transition: all .4s ease-in-out;
}

.cta-btn:hover {
    color: #7EB6D9;
    background-color: #23527c;
}

/* Estilos das se��es */
section {
    padding: 5rem 1rem;
}

#sobre {
    background-color: #F2F2F2;
}

#sobre p {
    max-width: 800px;
    margin: auto;
}

#servicos ul {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: .5rem;
}

#servicos li {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: .5rem;
    height: 440px;
    min-width: 340px;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.card img {
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.card p {
    font-size: 12px;
    text-align: center;
}

#contato {
    background-color: #8697A6;
}

/* Estilos do formul�rio de contato */
form {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 100%;
}

form textarea {
    height: 6rem;
}

/* Estilos do footer */
footer {
    background-color: #f7f7f7;
    padding: 1rem;
    text-align: center;
}

.card-carousel {
    position: relative;
    display: flex;
    overflow-x: hidden;

}

.carousel-container {
    display: flex;
    width: calc(100% * 5);
    transition: transform 0.3s ease-in-out;
    justify-content: center;
}

.card {
    flex: 0 0 calc(100% / 5);
    margin-right: 20px;
}

.card img {
    width: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}

.carousel-button-prev {
    left: 10px;
}

.carousel-button-next {
    right: 10px;
}

@media (max-width: 768px) {
    .card-carousel {
        overflow-x: auto;
    }

    .carousel-container {
        width: auto;
    }

    .card {
        margin-right: 10px;
    }
}

/* theme switch */

.theme {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 16px 16px;
    background-color: #fff;
    box-shadow: 2px 2px 4px #0000003d;
    border-radius: 50px;
    width: fit-content;
}

.theme p {
    font-size: 1.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: black;
}

.dark-mode, .dark-mode footer, .dark-mode header, .dark-mode .theme {
    background-color: #444!important;
}

.dark-mode .navbar .button {
    border: 2px solid #2196F3;
    color: #2196F3;
}

.dark-mode #sobre {
    background-color: #555;
}

.dark-mode p, h1, h2, h3, h4, h5, span {
    color: #fff;
}